.social-media{
    color:black;
}
footer{
    padding-top: 20px;
    background-color: #e9ecef;
    margin-top: 50px;
}
.element{
    margin-top:2rem;
    margin-bottom:2rem;
}
.box-card{
    border: 1px solid #e9ecef;
    border-radius: 5px;
    min-width: 15rem;;
    text-align: center;
}
.box-card-container{
    margin-right: 5%;
    display: inline-grid;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    min-width: 15rem;;
    text-align: center;
}
.box-card-title{
    text-align: center;
    margin-top:0.9rem;
}
.text{
    font-size: 0.6rem;
}
 .element-btc{
     margin-bottom: 1rem;
 }
 .footer-row{
     padding-left: 2rem;
     padding-left : 2rem;
 }